/*==================================================
            booking scss start
==================================================*/
#booking {
    padding: 63px 0;

    .regi_form {
        padding: 50px 50px;
        background: #ff3d3d80;

        h3 {
            color: #fff;
            font-size: 30px;
            font-family: 'festive', cursive;
            font-weight: 500;
            text-transform: capitalize;
            padding-bottom: 35px;
            position: relative;

            span {
                display: block;
                color: #fff;
                font-size: 21px;
                font-family: 'Dancing Script', cursive;
                font-weight: 400;
                text-transform: capitalize;
                padding-top: 15px;
                line-height: 24px;
            }

            &::after {
                position: absolute;
                content: '';
                left: 15%;
                bottom: 10px;
                width: 70%;
                height: 1px;
                background: #fff;
            }
        }

        a {
            margin-top: 55px;
            padding: 7px 49px;
            border: 1px solid #fff;
            color: #fff;
            font-size: 26px;
            font-family: 'Dancing Script', cursive;
            font-weight: 500;
            text-transform: capitalize;
            transition: all linear .3s;

            &:hover {
                color: #5f0000;
                background: #ffffff80;
                border-color: #ffffff80;
            }
        }
    }

    .counter_col {
        margin: 0;
    }

    .counter_part {
        ul {
            li {
                margin-bottom: 35px;

                border-bottom: 1px solid #ff3d3d80;

                i {
                    margin-right: 0;
                    font-size: 50px;
                    color: #ff3d3d80;
                }

                h4 {
                    color: #ff3d3d80;
                    font-size: 26px;
                    font-family: 'Dancing Script', cursive;
                    font-weight: 500;
                    text-transform: capitalize;
                    position: relative;

                    span {
                        font-size: 50px;
                        display: block;
                    }
                }
            }
        }
    }

    .booking_row {
        margin-top: 0px !important;

        .booking_text_col {
            p {
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 7px;
                float: left;
                font-size: 21px;
                font-family: 'Dancing Script', cursive;
            }
        }
    }
}

/*==================================================
            booking scss end
==================================================*/